body{
    font-family: 'Libre Franklin', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

button{

    border: 0;
    padding: 10px 100px;
    cursor: pointer;
    background-color: #FFE1E1;
    border: 1px solid #FFE1E1;
    color: rgb(2, 2, 2);
}